<ion-view title="About">
    <ion-content overflow-scroll="true" padding="true" class="has-header" has-bouncing="true">
    <div class="list card">

  <div class="item item-icon-left item-positive" >
    <i class="icon ion-help"></i>
    About application:
  </div>

  <div class="item padding-vertical padding-horizonatal item-text-wrap" >
  <p>
  <h2><b>Manage Your Building:</b></h2>
  <br>
  This application is a part of a master thesis defended on AGH. This client application provides us a user interface.
  We can control system BMS based on Raspberry Pi. This project is a trial-version ,because we can control only couple of devices and read data from few sensors. This project give us opportunity to develop future projects.

  </br>
  </p>
    
  </div>

  <div class="item item-icon-left item-positive" >
    <i class="icon ion-person"></i>
    Author:
    
  </div>

  <div class="item item-avatar ">
      <img src="img/author.jpg">
      <h2>Krol</h2>
      <p>Grzegorz</p>
    </div>
    
     


  <div class="item item-icon-left item-positive" >
    <i class="icon ion-email"></i>
    Contact: 
  </div>
  
  
  <div class="item item-icon-left">
  grzegorzkrol90@gmail.com
    
  </div>
  
 <div class="item item-icon-left item-positive" >
    <i class="icon ion-power"></i>
    Powered by: 
  </div>
  
   <a class="item item-icon-left " href="#" onclick="window.open('http://ionicframework.com', '_system', 'location=yes'); return false;">
   <i class="icon ion-ionic"></i>
    Ionic Framework
    
  </a>
  

</div>
       
    
    
    
    </ion-content>
</ion-view>