<ion-view title="Conference Room" hide-back-button="false"> <ion-content
	overflow-scroll="true" padding="true" class="has-header">

<div class="row responsive-md">
	<move-sensor class="col"></move-sensor>

	<door-sensor class="col"></door-sensor>

	<pressure-sensor class="col"></pressure-sensor>

	<light-intensity-sensor class="col"></light-intensity-sensor>
	</div>
	
<div class="row responsive-md">
	
	<temp-mcp9808-sensor class="col"></temp-mcp9808-sensor>
	
	<attitude-sensor class="col"></attitude-sensor>
	
	<light-relay class="col"></light-relay>
	
	<electrical-outlet-relay class="col"></electrical-outlet-relay>
</div>

</ion-content> </ion-view>