<ion-view title="Manage Your Building">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <a ui-sref="tabsController.lobby" class="button button-positive button-block button-large icon-left ion-ios-people button-full">Lobby</a>
        <a ui-sref="tabsController.reception" class="button button-positive button-block button-large icon-left ion-android-call button-full">Reception</a>
        <a ui-sref="tabsController.rest" class="button button-positive button-block button-large icon-left ion-ios-game-controller-b button-full">Rest Area</a>
        <a ui-sref="tabsController.coffe" class="button button-positive button-block button-large icon-left ion-coffee button-full">Coffe Area</a>
        <a ui-sref="tabsController.conference" class="button button-positive button-block button-large icon-left ion-ios-monitor button-full">Conference Room</a>
        <a ui-sref="tabsController.mail" class="button button-positive button-block button-large icon-left ion-android-mail button-full">Mail Room</a>
    </ion-content>
</ion-view>