<div class="list card">
<div class="row  item item-positive">
 <div class="item item-avatar item-positive">
    <img src="img/Electrical-Outlet.png">
	<h2 class="title">Electrical Outlet Relay</h2>
	
	</div>
</div>  


   <div class="item">
      <ion-toggle ng-model="electricalOutletRelayCtrl.status" ng-true-value="'ON'" ng-false-value="'OFF'"
                ng-change="electricalOutletRelayCtrl.change()" toggle-class="toggle-positive">
      Turn Electrical Outlet
    </ion-toggle>
  </div>

</div>